/*--------------------------------------------------------------------------*/
/*This is main CSS file that intializes BG Images used in this template*/
/*--------------------------------------------------------------------------*/

#intro{
	background-image: url('/images/top-banner.png');
	background-size: 100% 100%;
	height: 110vh;
}
.promo-section{
	background-image: url('/images/Code.jpg');
}
.contact{
	background-image: url('/images/About.jpg');
	background-size: cover;
}
.photography-carousel-item-01{
	background-image: url('http://placehold.it/1500x1050');
}

.photography-carousel-item-02{
	background-image: url('http://placehold.it/1500x1050');
}

.photography-carousel-item-03{
	background-image: url('http://placehold.it/1500x1050');
}

.agency-carousel-item-01{
	background-image: url('http://placehold.it/1500x1050');
}

.agency-carousel-item-02{
	background-image: url('http://placehold.it/1500x1050');
}

.agency-carousel-item-03{
	background-image: url('http://placehold.it/1500x1050');
}

/*Mobile Menu Logo*/
.menu-collapser {
    background-image: url('/images/Logo-colour.png');
}