<form
          action="/success"
          netlify-honeypot="bot-field"
          name="startAProject"
          method="post"
          data-netlify="true"
          class="col-md-12 col-lg-10 col-lg-offset-1"
        >
          <section>
            <input type="hidden" name="form-name" value="startAProject">
            <p class="hidden">
              <label>Don’t fill this out if you're human: <input name="bot-field"></label>
            </p>
            <h3>
              1 Hello, nice to meet you!
            </h3>
            <div class="project-contact-info">
              <article class="left">
                <input
                  id="projectCompany"
                  v-model="company"
                  type="text"
                  placeholder="Company"
                  name="company"
                  size="100"
                >
              </article>
              <article class="right">
                <input
                  id="projectEmail"
                  v-model="email"
                  type="email"
                  placeholder="Email Address*"
                  name="email"
                  size="100"
                  required
                >
              </article>
              <article class="left">
                <input
                  id="projectName"
                  v-model="name"
                  type="text"
                  placeholder="Your Name*"
                  name="name"
                  size="100"
                  required
                >
              </article>
              <article class="right">
                <input
                  id="projectPhone"
                  v-model="phone"
                  type="tel"
                  placeholder="Contact Number*"
                  name="phone"
                  size="30"
                  required
                >
              </article>
              <article class="left">
                <input
                  id="projectWebsite"
                  v-model="website"
                  type="url"
                  placeholder="Website"
                  name="website"
                  size="100"
                >
              </article>
            </div>
          </section>
          <section>
            <h3>
              2 What is the scope of your project?
            </h3>
            <div class="project-services">
              <div id="project-form-logo" class="service text-center" @click="addProjectType(service.title, $event)">
                <input type="hidden" name="scope" value="Logo">
                <input type="image" id="startAProjectLogo" src="/images/icons/Services-Logo.png" alt="Logo" name="Logo">
                <h4>LOGO</h4>
              </div>
              <div id="project-form-branding" class="service text-center" @click="addProjectType(service.title, $event)">
                <input type="hidden" name="scope" value="Branding">
                <input type="image" id="startAProjectBranding" src="/images/icons/Services-Branding.png" alt="Branding" name="Branding">
                <h4>BRANDING</h4>
              </div>
              <div id="project-form-webDesign" class="service text-center" @click="addProjectType(service.title, $event)">
                <input type="hidden" name="scope" value="Web Design">
                <input type="image" id="startAProjectwebDesign" src="/images/icons/Services-WebDesign.png" alt="Web Design" name="Web Design">
                <h4>WEB DESIGN</h4>
              </div>
              <div id="project-form-development" class="service text-center" @click="addProjectType(service.title, $event)">
                  <input type="hidden" name="scope" value="Development">
                  <input type="image" id="startAProjectDevelopment" src="/images/icons/Services-Development.png" alt="Development" name="Development">
              <h4>DEVELOPMENT/h4>
              </div>
              <div id="project-form-printDesign" class="service text-center" @click="addProjectType(service.title, $event)">
                <input type="hidden" name="scope" value="Print Design">
                <input type="image" id="startAProjectLogo" src="/images/icons/Services-PrintDesign.png" alt="Print Design" name="Print Design">
                <h4>PRINT DESIGN</h4>
              </div>
              <div id="project-form-consultation" class="service text-center" @click="addProjectType(service.title, $event)">
                <input type="hidden" name="scope" value="Consultation">
                <input type="image" id="startAProjectConsultation" src="/images/icons/Services-Consultation.png" alt="Consultation" name="Consultation">
                <h4>CONSULTATION</h4>
            </div>
            </div>
          </section>
          <section>
            <h3>
              3 When do you need the project to be completed?
            </h3>
            <input
              id="t1"
              v-model="timeframe"
              type="radio"
              name="timeframe"
              value="In a week"
            >
            <label for="t1">In a week</label><br>
            <input
              id="t2"
              v-model="timeframe"
              type="radio"
              name="timeframe"
              value="In a month"
            >
            <label for="t2">In a month</label><br>
            <input
              id="t3"
              v-model="timeframe"
              type="radio"
              name="timeframe"
              value="3 months +"
            >
            <label for="t3">3 months+</label><br>
          </section>
          <section>
            <h3>
              4 Tell us about your company and the goal of the project
            </h3>
            <article>
              <textarea id="projectMessage" placeholder="In less than 500 characters" name="message" cols="40" rows="4" />
            </article>
          </section>
          <section>
            <h3>
              5 How did you hear about us?
            </h3>
            <input
              id="h1"
              v-model="hearAboutUs"
              type="radio"
              name="hearAboutUs"
              value="Google"
            >
            <label for="h1">Google</label><br>
            <input
              id="h2"
              v-model="hearAboutUs"
              type="radio"
              name="hearAboutUs"
              value="Referral"
            >
            <label for="h2">Referral from a friend</label><br>
            <input
              id="h3"
              v-model="hearAboutUs"
              type="radio"
              name="hearAboutUs"
              value="Facebook"
            >
            <label for="h3">Facebook</label><br>
            <input
              id="h4"
              v-model="hearAboutUs"
              type="radio"
              name="hearAboutUs"
              value="LinkedIn"
            >
            <label for="h4">LinkedIn</label><br>
            <input
              id="h5"
              v-model="hearAboutUs"
              type="radio"
              name="hearAboutUs"
              value="Other"
              @change="otherSelected = !otherSelected"
            >
            <label for="h5">Other</label><br>
            <input
              v-if="otherSelected"
              id="hearAboutUs"
              v-model="hearAboutUsOther"
              type="text"
              placeholder="Other"
              name="hearAboutUs"
              size="100"
            >
          </section>
          <article>
            <div class="btn-wrap  text-center">
              <button id="submit" class="btn btn-odin btn-odin-color" name="submit" type="submit">
                Submit
              </button>
            </div>
          </article>
        </form>